.navbar {
  background: linear-gradient(
    to right,
    rgba(20, 73, 108, 1) 25%,
    rgba(20, 73, 108, 0.5),
    rgba(20, 73, 108, 1) 85%
  );
}

.navbar::after {
  position: absolute;
  content: "";
  bottom: -1px;
  left: 0px;
  height: 1px;
  width: 100%;
  background: linear-gradient(
    90deg,
    transparent 77px,
    cyan 77px,
    cyan calc(100% - 77px),
    transparent calc(100% - 77px)
  );
}

.leftBlock {
  position: fixed;
  top: 19px;
  left: 0px;
  width: 60px;
  height: 36px;
  background-color: rgba(20, 73, 108, 1);
  border-bottom: 2px solid cyan;
  z-index: -1;
}

.leftBlock::after {
  position: absolute;
  content: "";
  bottom: -2px;
  right: -9px;
  width: 4px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  transform: skew(-50deg);
  box-shadow: 0 0 12px 0 rgb(255 255 255 / 100%),
    0px 0px 5px 1px rgb(12 145 255 / 100%);
  z-index: 9;
}

.leftBlock::before {
  position: absolute;
  content: "";
  bottom: 2px;
  right: -12px;
  width: 18px;
  z-index: 0;
  height: 18px;
  background-color: rgba(20, 73, 108, 1);
  transform: skew(-50deg);
}

.rightBlock {
  position: fixed;
  top: 19px;
  right: 0px;
  width: 60px;
  height: 36px;
  background-color: rgba(20, 73, 108, 1);
  border-bottom: 2px solid cyan;
  z-index: -1;
}

.rightBlock::after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: -9px;
  width: 4px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  transform: skew(50deg);
  box-shadow: 0 0 12px 0 rgb(255 255 255 / 100%),
    0px 0px 5px 1px rgb(12 145 255 / 100%);
  z-index: 9;
}

.rightBlock::before {
  position: absolute;
  content: "";
  bottom: 2px;
  left: -12px;
  width: 18px;
  z-index: 0;
  height: 18px;
  background-color: #14496c;
  transform: skew(50deg);
}

.home {
  position: relative;
  top: 8px;
  left: 16px;
}
